.coverage
.idea
.venv/*
.vscode

__pycache__
cov_html

data/*
dist/*
pocs/*
venv/*

__*
docker
docs/_build
docs/generated

static/**/*.png

shell/**/test.go
shconf/**/test*
shdata/**/*.data
shdata/**/*.json
shdata/**/*.conf
shdata/**/*.txt
